
 p, h1, h2, h3{
    font-size:2em;
    margin:0, auto;
}

.card p{
    font-size:1.5em
}

.card-title {
    font-size: 2em;
}

html {
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    overflow: visible;
}

#logo{
    height: 100px;
    display: inline-block;
    float: none;
}

#header_title{
    display: inline-block;
    margin: auto;
    color: rgb(50,50,50);
}

#body
{
    background-color: #F2E9E4;
    position: absolute;
    margin: 0 auto;
    z-index: 0;
    min-height:80%;
    height: fit-content;
    width: 100%;
    background-size: cover;
    text-align: center;
}
#head
{
    background-color: #e0c3bd;
}

.container
{
    width:80%;
    height: fit-content;
    margin: auto;
}
.col img
{
    width:80%;
    min-height:2rem;
}

.bg-light {
    background-color: #a9c9b8!important;
}

.d-block {
    height: 30rem;
}

.carousel-indicators [data-bs-target] {
    height: 7px;
    background-color: #453F3C;
}

.carousel{
    height: 42em;
    margin: 5em 2rem;
}
.carousel-inner{
    height: 100%;
}

.carousel-item{
    height: 100%;
    background-color: #191716;
}

.carousel-item h5{
    font-size: 5rem;
    margin-bottom: 3em;
}

.nav-item a{
    font-size: 2rem;
}

.nav-link{
    margin: 0 2rem ;
}

.navbar-brand{
    font-size: 3rem;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  form button {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }

  form button:hover {
    background-color: #45a049;
  }

  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }

  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }